<h1>{{title}}</h1>
{{!-- CRUD Functionality --}}

{{!-- CREATE button --}}
<a href="/projects/add" class="btn btn-primary">Add a new project</a>
{{!-- READ show table to view all projects in the DB --}}

{{!-- TODO: add DELETE and UPDATE button inside table --}}
<table>
  <thead>
    <th>Name</th>
    <th>Due date</th>
    <th>Course</th>
    <th>Status</th>
  </thead>
  <tbody>
    {{ #each dataset}}
  </tbody>
</table>