/* Hero Section (Navbar + Header) */
.hero {
  background: url('/images/teton3.jpg') center/cover no-repeat;
}


/* Main container to align text and image */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  margin: auto;
  background-color: rgb(255, 255, 255);
}


/* Text section */
.text {
  flex: 1;
  padding-right: 40px;
}

.text h1{
  margin-bottom: 20px;
  font-size: 50px;
  border-bottom: 4px solid rgb(33, 121, 176);
}

.text p{
  font-size: 18px;
  text-align: justify;
}

/* Image section */
img {
  max-width: 550px;
  height: auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 85, 0.2);
}
