<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/about.css">
</head>

<body>
    <div class="container">   
        <!-- Background Section -->
        <h1>Background</h1>
        <section class="about-section">
            <div class="text-content">
                
                <h2> 🎓 Bachelor's degree in Industrial Engineering</h2>
                <p>
                   I studied at the University of Lima where I obtained a bachelor's degree in Industrial Engineering with a specialization in business management and supply chain management. During my studies, I learned how to improve industrial processes, create a company, design industrial plants, process simulation, advanced logistics management and computer programming. 
                </p>
                   
                <p>
                    I obtained my engineering degree thanks to my thesis research in Peru on data analysis and results of logistics management in pharmaceutical companies. Thanks to the success of the research, together with my thesis partner Valeria Wong, we presented the thesis at the International Conference on Industrial Technology and Management (IJIMT) in the UK in 2023 and published the paper in the International Journal of Innovation, Management and Technology (IJIMT) the same year.
                </p>
            </div>

            <div class="image-container">
              <img src="/images/Logo_Ulima.jpg" alt="Universidad de Lima" class="about-image" loading="lazy">

              <img src="/images/IJIMT.png" alt="IJIMT" class="about-image" loading="lazy">
            </div>
        </section>

        
        <!-- Computer Programming Section -->
        <section class="about-section">
            <div class="text-content">
                <h2> 🎓 Computer Programming Degree</h2>
                <p>I am currently pursuing a Computer Programming Co-op Diploma at Georgian College in Canada, expected to graduate in May 2025. Throughout this program, I have developed technical skills in web development, software development, database management, data analysis, and automation.</p>

                <p>I have worked with multiple technologies, including HTML5, CSS3, JavaScript, Python, SQL, Power BI, Tableau, Java, C#, C++, ASP.NET, PHP and gained hands-on experience in web development, cloud computing, and DevOps. My coursework has focused on building scalable applications, database management, and automation solutions.</p>

                <p>In addition, I have applied my skills in a professional setting during my co-op experience as a Data & Analytics Technician at York Region, where I worked on data visualization, process automation, and business intelligence reporting.</p>
            </div>
            <div class="image-container">
              <img src="/images/georgian.jpg" alt="Universidad de Lima" class="about-image" loading="lazy">
            </div>
        </section>

        <h1>Experience</h1>
        <!-- Experience Section -->
        <section class="about-section">

            <div class="image-container">
                    <img src="/images/yorkRegion.png" alt="York Region Logo" class="experience-image">              
            </div>

            <div class="text-content">
                
                <h2>Data Analyst Intern</h2>
                <h3>York Region (The Regional Municipality of York) </h3>               

                <div class="list-container">          
                    <ul>
                        <li>Part of the data analysis and reporting team supporting paramedic and senior services in York Region.</li>
                        <li>Performed data analysis, modeling, and cleaning for paramedic and senior service datasets using SQL and Power BI (DAX).</li>
                        <li>Assisted in preparing and reviewing data reports based on user requests.</li>
                        <li>Developed an automated Excel template using JavaScript and Power BI, reducing report generation time from <b>4.5 hours to 1.5 hours</b>.</li>
                        <li>Rebuilt and optimized the source code of the data request tracking application in Microsoft Power Apps, improving UX/UI and request tracking within <b>two months</b>.</li>
                        <li>Created automated workflows in Power Automate to send <b>weekly reports</b> on project statuses, approaching deadlines, and data reporting, increasing compliance rates from <b>96% to 99%</b>.</li>
                        <li>Received a <b>contract extension</b>c due to b performance and support in data request and report management using Power BI and Power Apps.</li>
                        <li>Collaborated on a project to analyze paramedic response times using Google Maps API and Python, identifying optimization strategies to improve response times by <b>7%</b>.</li>
                    </ul>
                </div>                
            </div>       
            
        </section>


        <section class="about-section">

            <div class="image-container">
                    <img src="/images/Honda.jpg" alt="Honda Logo" class="experience-image">              
            </div>

            <div class="text-content">
                
                <h2>Procurement Data Analyst</h2>
                <h3>Honda</h3>               

                <div class="list-container">          
                    <ul>
                        <li>Conduct supplier evaluations and comparisons using <b>Microsoft Excel</b> and <b>Power BI</b> to ensure quality, pricing, and delivery meet Honda's procurement standards.</li>
                        <li>Analyze purchasing data and create reports to support cost-saving strategies, achieving savings of up to <b>15%</b>.</li>
                        <li>Manage purchase orders daily through <b>SAP</b>, ensuring compliance and maintaining a <b>98% service level</b> each month.</li>
                        <li>Design dynamic dashboards and performance reports using <b>SQL, Microsoft Excel, and Power BI</b> to drive data-driven decisions in procurement operations.</li>
                        <li>Develop and track <b>KPIs</b> to improve procurement efficiency, focusing on service levels, cost savings, and order fulfillment.</li>
                        <li>Optimize cost analysis processes by assessing product and service costs, identifying cost-saving opportunities, and presenting actionable insights to stakeholders.</li>
                        <li>Managed supplier homologation, increasing the portfolio of validated suppliers by <b>35%</b>.</li>
                        <li>Streamline procurement processes by preparing clear and detailed <b>RFQs</b>, leading to accurate supplier responses and improved project timelines.</li>
                        <li>Support <b>marketing and sales teams</b> to align procurement strategies with broader business objectives.</li>
                    </ul>
                </div>                
            </div>       
            
        </section>
        
        <h1>Skills & Expertise</h1>

        <!-- Skills Section -->
        <section class="skills-section">
            
            <div class="skills-container">
                <div class="skill-category">
                    <h3>📊 Data Analytics</h3>
                    <p>ETL, Power Query, SQL (SQL Server, MySQL, PostgreSQL), Python (Pandas, NumPy), Power BI (DAX), R</p>
                </div>
                <div class="skill-category">
                    <h3>📈 Business Intelligence</h3>
                    <p>BI, KPIs, data-driven decision-making, dashboards, executive reporting, process analysis</p>
                </div>
                <div class="skill-category">
                    <h3>⚙️ Process Automation & Optimisation</h3>
                    <p>Power Automate, Python, RPA, Lean Six Sigma, Scrum, Kanban</p>
                </div>
                <div class="skill-category">
                    <h3>🚛 Supply Chain & Logistics</h3>
                    <p>SAP MM, demand planning, inventory optimization, logistics data analysis, ERP integration</p>
                </div>
                <div class="skill-category">
                    <h3>💻 Web & Software Development</h3>
                    <p>HTML, CSS, JavaScript, React, TypeScript, Node.js, API integration, ASP.NET</p>
                </div>
                <div class="skill-category">
                    <h3>🖥️ Programming & Software Engineering</h3>
                    <p>Java, C#, C++, Mainframes, GitHub, Software Development Life Cycle (SDLC)</p>
                </div>
                <div class="skill-category empty"></div>
                <div class="skill-category">
                    <h3>☁️ Cloud & Enterprise Applications</h3>
                    <p>Cloud Computing, SharePoint, PowerApps, Microsoft 365, MS Office</p>
                </div>
            </div>
        </section>
   </div>
</body>
</html>