<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Me</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/contact.css" />
  </head>
  <body>
    {{! Contact Form }}
    <div class="contact-container">
      <form
        action="https://formsubmit.co/sebastianaguirrem49@gmail.com"
        method="POST"
        class="contact-form"
      >
        <input type="hidden" name="_captcha" value="false" />
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Your Name"
          required
        />

        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Your Email"
          required
        />

        <label for="message">Message:</label>
        <textarea
          id="message"
          name="message"
          rows="6"
          placeholder="Your Message"
          required
        ></textarea>

        <button type="submit">Send Message</button>
      </form>
    </div>
  </body>
</html>