<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/index.css' />   
  </head>

  <body>
    <h1>vsvssssssssssssssss</h1>

    <p>vssssssssssssssssssssssssssssvvvvvvvvvvvvvvvvvvvvvvvvvssssssss</p>

    <img src="/images/sebas_photo.jpg" alt="Graduation day!" />

  </body>

</html>