<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/projects.css' />   
  </head>

  <body>
      {{!-- Projects connected with my github --}}
    <section class="portfolio">
        <div class="projects-container">
            <div class="project">
              <a href="https://github.com/Sebas4120/PythonPDFExtractor" target="_blank">
                <img src="/images/pythonPdf.jpg">
                <div class="project-info">
                    <h3>Python PDF Extractor</h3>
                    <p>The aim of this project was to automate manual and routine processes. This program consisted of creating a new pdf document based on individual pages and/or page ranges from another source PDF document.</p>
                </div>
              </a>  
            </div>

            <div class="project">
              <a href="https://sebas4120.github.io/Military_Style/" target="_blank">
                <img src="/images/militar.png">
                <div class="project-info">
                    <h3>Army style | Style Stage</h3>
                    <p>This project was created for the popular 'Style Stage' challenge at StyleStage.dev, where I designed a complete visual theme inspired by Army aesthetics. Using only CSS, I crafted a unique and original design without relying on frameworks or templates.</p>
                </div>
              </a>
            </div>

            <div class="project">
              <a href="https://github.com/Sebas4120/SQL-tasks" target="_blank">
                <img src="/images/mySql.jpg">
                <div class="project-info">
                    <h3>SQL projects</h3>
                    <p>This repository has 4 projects elaborated during my Relational database class in which we covered topics such as ERD design, primary and foreign keys, data manipulation, ACID properties, normalization, and advanced techniques.</p>
                </div>
              </a>
            </div>

            <div class="project">
              <a href="https://github.com/Sebas4120/PDFExtractor_with_Excel" target="_blank">
                <img src="/images/pythonExcel.jpg">
                <div class="project-info">
                    <h3>PDF extractor using Python and Excel</h3>
                    <p>This project is based on the extraction of a range of pages and/or individual pages of a PDF document using as GUI an Excel file where the user will enter his requests. </p>
                </div>
              </a>
            </div>

            <div class="project">
              <a href="https://sebas4120.github.io/Verdana_WebPage/" target="_blank">
                <img src="/images/verdana.png">
                <div class="project-info">
                    <h3>Verdana's Website - Static Web Page</h3>
                    <p>This static page explores the history of the Verdana font. It was created as part of an HTML5, CSS3, and JavaScript course assignment.</p>
                </div>
              </a>
            </div>

            <div class="project">
              <a href="https://sebas4120.github.io/Star-Wars/" target="_blank">
                <img src="/images/starWars.png">
                <div class="project-info">
                    <h3>Star Wars | Principal Characters</h3>
                    <p> This was one of the first websites I built, dedicated to my favorite movie. In this static site, I used HTML5, CSS3, and JavaScript to add animations and enhance the user experience.</p>
                </div>
              </a>
            </div>

            <div class="project">
              <a href="https://sebas4120.github.io/HomeBase_Magazine/" target="_blank">
                <img src="/images/homebase.png">
                <div class="project-info">
                    <h3>HomeBase - Magazine</h3>
                    <p>This assignment for Georgian College was designed to implement HTML5 and CSS3 best practices to accurately replicate a magazine page.</p>
                </div>
              </a>
            </div>

            

            <div class="project">
              <a href="https://github.com/Sebas4120/Black_Jack" target="_blank">
                <img src="/images/blackJack.jpg">
                <div class="project-info">
                    <h3>Black Jack</h3>
                    <p>This is a casino-style Blackjack game built using PHP.</p>
                </div>
              </a>
            </div>

        </div>
    </section>

</body>
</html>