<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/projects.css' />   
  </head>

  <body>
      {{!-- Projects connected with my github --}}
    <section class="portfolio">
        <div class="projects-container">
            <div class="project">
              <a href="https://github.com/Sebas4120/PythonPDFExtractor" target="_blank">
                <img src="/images/pythonPdf.jpg">
                <div class="project-info">
                    <h3>Python PDF Extractor</h3>
                    <p>The aim of this project was to automate manual and routine processes. This program consisted of creating a new pdf document based on individual pages and/or page ranges from another source PDF document.</p>
                </div>
              </a>  
            </div>

            <div class="project">
              <a href="https://github.com/Sebas4120/Black_Jack" target="_blank">
                <img src="/images/blackJack.jpg">
                <div class="project-info">
                    <h3>Black Jack</h3>
                    <p>This is a casino game called Blackjack built using PHP</p>
                </div>
              </a>
            </div>

            <div class="project">
              <href="https://github.com/Sebas4120/SQL-tasks" target="_blank">
                <img src="/images/mySql.jpg">
                <div class="project-info">
                    <h3>SQL projects</h3>
                    <p>This repository has 4 projects elaborated during my Relational database class in which we covered topics such as ERD design, primary and foreign keys, data manipulation, ACID properties, normalization, and advanced techniques.</p>
                </div>
              </a>
            </div>

            <div class="project">
              <href="https://github.com/Sebas4120/PDFExtractor_with_Excel" target="_blank">
                <img src="/images/pythonExcel.jpg">
                <div class="project-info">
                    <h3>PDF extractor using Python and Excel</h3>
                    <p>This project is based on the extraction of a range of pages and/or individual pages of a PDF document using as GUI an Excel file where the user will enter his requests. To start, in the Excel file the user enters the name of the pdf document along with the extension ".pdf" as it is stored, in this step the program will validate if the document exists. The user also enters the range of pages and, if desired, the individual pages to be extracted from the source pdf document. In both of these functions it is validated that the input is numbers and, as for the individual pages, separated by commas.</p>
                </div>
              </a>
            </div>

        </div>
    </section>

</body>
</html>